.popular-hotels__container {
  width: 1064rem;
  min-height: 708rem;
  padding-top:24rem;
  padding-bottom: 231rem;
  display: block;
  margin-top: -330rem;
  position: relative;
  bottom: -200rem;
}
.popular-hotels__text {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  align-items: center;
}
.popular-hotels__title {
  font-weight: 600;
  font-size: 40rem;
  /* padding-bottom: 20rem; */
}
.strip-longer {
  width: 202rem;
}
.strip-shorter {
  width: 136rem;
  margin-bottom: 40rem;
}
.carrousel {
  position: relative; 
}
.carrousel .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}
.carrousel .slick-arrow.slick-next {
  right: -12rem;
  background: rgba(255, 255, 255, 0.15);
  background: url('../images/arrows/arrowRight.svg') 12px 12px no-repeat;
  border: 1.4px solid #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* left: -24rem; */

}
.carrousel .slick-arrow.slick-prev {
  left: -20rem;
  background: rgba(255, 255, 255, 0.15);
  background: url('../images/arrows/arrowLeft.svg') 12px 12px no-repeat;
  border: 1.4px solid #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* right: -24rem; */

}
.carrousel-1 {
  background: url('../images/hotels/slider1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.carrousel-2 {
  background: url('../images/hotels/slider2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.carrousel-3 {
  background: url('../images/hotels/slider3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.carrousel-4 {
  background: url('../images/hotels/slider4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.carrousel__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24rem;
  row-gap: 211rem;
}
.slider-2__gap {
  row-gap: 63rem;
}

.slider-2__top__margin {
  margin: 20rem;
}
.slider__content__bottom-over {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  padding-top:16.5rem;
  padding-bottom: 16rem;
  padding-left: 20rem;
  gap: 10rem;
}

.hotel-info__content {
  display: flex;
  gap: 10rem;
}
.hotel-info__icon {
  border: 1.4px solid #FFFFFF;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.32));
  border-radius: 18.5625px;
  display: flex;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}
.price {
  background: linear-gradient(148.22deg, #FFB800 27.03%, #F56700 93.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.32);

  font-weight: 700;
  font-size: 24rem;
  line-height: 104.5%;
  padding-top: 19rem;
  }

.carrousel__content__top {
  background: rgba(50, 50, 50, 0.16);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  padding: 8rem 16rem;
}
.strip__length {
  width: 172rem;
  height: 2rem;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.carrousel__item {
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(18px);
  border-radius: 8px;
  width: 250rem;
  height: 355rem;
}

.slick-list {
  overflow: hidden;
  margin: 0 auto;
}

.carrousel__wrapper {
  width: 1134rem;
  position: absolute;
  left: -35rem;
  top: 122rem;
}

.carrousel__content__all {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 8px;
  transition: height 0.3s ease;
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 98rem;
}

.carrousel__item:hover .carrousel__content__all {
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.25);
}

.carrousel__item:hover .carrousel__content__all {
  height: 250rem;
}

.carrousel__item:hover .carrousel__content__all span {
  opacity: 1;
  transition: opacity 0.9s ease;
}

.carrousel__content__all span {
  opacity: 0;
  transition: opacity 0.1s ease;
}
.carrousel__content__bottom-over span {
  opacity: 1;
}
.carrousel__content__bottom p {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.carrousel .slick-track {
  gap:40rem
}
.carrousel__content__bottom-over {
  display: flex;
  align-items: center;
}
.carrousel__content__bottom {
  padding-left: 20rem;
  padding-top: 16rem;

}
.carrousel__content__bottom p{
  font-size: 18rem;
  width: 201rem;
  height: 38rem;
}
.popular-hotels {
  position: relative;
  bottom: 538rem;
}
.clouds {
  position: relative;
  top: -529rem;
}
.five {
  font-weight: 700;
  font-size: 21.4074rem;
  line-height: 104.5%;
  padding-left: 5rem;
}
.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 104.5%;
}
.cost {
  padding-left: 20rem;
}
.currency {
  font-weight: 700;
  font-size: 18px;
  line-height: 104.5%;
}