.form {
  position: relative;
  top: -875rem;
}
.form-container {
  width: 371rem;
  height: 506rem;
  background: rgba(255, 255, 255, 0.6);
  border: 1.4rem solid #FFFFFF;
  box-shadow: 0rem 4rem 18rem rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18rem);
  border-radius: 8rem;
  padding: 15rem 32rem;
  position: absolute;
  top: 42rem;
  right: 131rem;
  z-index: 1;
}
#sendError {
  color: red;
  /* Дополнительные стили для выделения ошибки */
}
.status {
  display: inline-block;
  border-radius: 10%;
  color: #46b450;
  visibility: hidden;
  border: 1.4rem solid #46b450;
  padding: 14rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(92rem, -50%);
  font-size: 16rem;
}
input:focus, textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.form__send {
  position: relative;
}
.status.sent {
  color: green;
  visibility: visible;
}
.status.error {
  visibility: visible;
  color: red;
}

.form-container h2 {
  font-weight: 600;
  font-size: 22rem;
  line-height: 113.5%;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.form-container form {
  margin-top: 8rem; 
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
  width: 307rem;
  padding: 16rem 12rem 16rem 12rem;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8rem);
  border-radius: 8rem;
  margin-bottom: 6rem;
  margin-top: 6rem;
  border: 2rem solid rgb(147, 176, 228, 0.3);
  font-size: 16rem;
}
.form-container button {
  padding: 10rem;
  background: #FFFFFF;
  border: 1rem solid rgba(255, 255, 255, 1);
  border-radius: 8rem;
  cursor: pointer;
  margin: 0 auto;
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  border-radius: 8rem;
  font-weight: 600;
  font-size: 18rem;
  color: #FFFFFF;
  width: 127rem;
  height: 48rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 11rem;
}
.form-container button:hover {
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
}
.form-container label {
  color: #525252;
  font-weight: 500;
  font-size: 16rem;
  padding-left: 10rem;
}

.form-container input::placeholder {
  font-family: 'Exo 2';
  color: #ACACAC;;
}
.form-container textarea::placeholder {
  font-family: 'Exo 2';
  color: #ACACAC;;
  font-weight: 500;
  font-size: 18rem;
  line-height: 113.5%;
}
.form-container textarea {
  height: 96rem;
  font-weight: 500;
  font-size: 16rem;
  line-height: 113.5%;
}
.form__background {
  position: relative;
  width: 100%;
  height: 612rem;
  /* background-color: rgba(254, 182, 83, 1); */
  background-image: url('../images/girl.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form__gradient-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #FF7A01 7.96%, rgba(255, 154, 29, 0) 50.92%);
}
.form__gradient-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-100deg, #FF7A01 7.96%, rgba(255, 154, 29, 0) 50.92%);
}

.form__girl {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form__girl img {
  width: 920rem;
  height: 100%;
}
.form__inscription{
  color: #FFFFFF;
  text-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.32);
  font-weight: 600;
  font-size: 105.485rem;
  line-height: 99%;
  text-transform: capitalize;
  position: absolute;
  z-index: 2;
  width: 408rem;
  left: 159rem;
  padding-top: 30rem;
}
.cloud {
  position: absolute;
  width: 384rem;
  height: 137rem;
}
.cloud-1 {
  left: 349rem;
  top: 294rem;
}
.cloud-2 {
  left: 349rem;
  top: 294rem;

  left: 757rem;
  top: 444rem;
}
.cloud-3 {
  left: 770rem;
  top: 19rem;
  transform: rotateY(180deg);
}
.airplane {
  display: none;
}
.airplane-decktop {
  position: absolute;
  top: 172rem;
  left: 0;
  z-index: 2;
  width: 622rem;
}

