
.section-with-background {
  background-image: url('../images/slider-banner/turkey.png');
  background-size: cover;  
  background-repeat: no-repeat;
  min-width: 1440rem;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
} */
.nav__list {
  display: flex;
  column-gap: 27rem;
}

.nav__item {
  display: flex;
  align-items: center;
  column-gap: 6rem;
}
.point {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(206.39deg, #FF7A00 18.43%, #FF7A00 18.44%, #FF7102 85.35%);
  border-radius: 1.6rem;
}
.strip {
  width: 70rem;
  height: 2rem;
  background: #FFFFFF;
  box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.32);
  border-radius: 10rem;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64rem;
}

.header__nav_sticky {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11rem;
  padding: 5rem;
  font-size: 16rem;
}
.header__nav_sticky-top {
  display: flex;
  align-items: center;
  gap: 64rem;
}
.header__nav_sticky-bottom {
  display: flex;
  align-items: center;
  gap: 16rem;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.nav__left {
  flex-shrink: 0;
}
.nav__right {
  flex-shrink: 0;
}





