body {
  height: 1200rem;
}
a {
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.32));
}
.container{
  width: 1440rem;
  margin: 0rem auto;
  padding: 51px 82rem;
}
.background{
  height: 96rem;
  padding: 24rem;

  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0rem 4rem 18rem rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8rem);
  border-radius: 7rem;
  margin: 0 auto;
  /* margin-top: 131rem; */
  display: flex;
  column-gap: 24rem;
  border: 1rem solid #FFFFFF ;
}

.arrows {
  display: flex;
  justify-content: space-between;
}
.arrow {
  background: rgba(255, 255, 255, 0.15);
  border: 1.4px solid #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  z-index: 9999;
}
.button {
  padding-top: 61rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side__buttons {
  position: fixed;
  right: 52rem;
  top:575rem;
  z-index: 9999;
}
.side__buttons button {
  position: relative;
  border-radius: 50%;
}
.pulse {
  all: unset;

}
.side__button-search {
  border: none;
  border: 1px solid white;
  color:  #0065C1;
}
.side__button-search:hover {
  color:  #D65A00;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.pulse a{
  color: #D65A00;
}

.pulse a:hover {
  color: #0065C1;
}
.pulse::before {
  content: "";
  position: absolute;
  left: -12rem;
  right: -12rem;
  top: -11rem;
  bottom: -10rem;
  border-radius: 50%;
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s linear infinite;
}
.pulse:hover::before {
  background: linear-gradient(179.64deg, #00A6DB 19.91%, #0065C1 99.92%);
}
.side__button-call {
  width: 64rem;
  height: 64rem;
}
.side__button-call-size {
  width: 43rem;
  position: absolute;
  transform: translateX(-125%);
  padding-top: 10rem;

}
.button-orange {
  width: 171rem;
  height: 48rem;
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
  box-shadow: 0rem 3.18152px 10.3399px rgba(0, 0, 255, 0.11);
  backdrop-filter: blur(4px);
  border-radius: 8rem;
  border: 1.4rem solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18rem;
  margin-bottom: 140rem;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.32);
}
.button-orange:hover{
  width: 171rem;
  height: 48rem;
  background: linear-gradient(179.64deg, #00A6DB 19.91%, #0065C1 99.92%);  box-shadow: 0px 3.18152px 10.3399px rgba(0, 0, 255, 0.11);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1.4px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18rem;
  margin-bottom: 140rem;
}
.button-orange:active{
  width: 171rem;
  height: 48rem;
  background: linear-gradient(179.64deg, #00A6DB 19.91%, #0065C1 99.92%);  box-shadow: 0px 3.18152px 10.3399px rgba(0, 0, 255, 0.11);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1.4px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18rem;
  margin-bottom: 140rem;
}
.tel {
  font-size:16rem;
}

.flight-selection__wrapper {
  display: flex;
  background: #FFFFFF;
  border: 1.4rem solid #E6E6E6;
  box-shadow: 0rem 4rem 18rem rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18rem);
  border-radius: 8rem;
  color:#7B7B7B;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14rem;
  line-height: 26rem;
  height: 48rem;
}
.flight-selection {
  position: absolute;
  left: 190rem;
  z-index: 1;
  top: 623rem;
}
.flight-selection-all_wrapper{
  justify-content: center;
  display: flex;
  gap: 48rem;
  justify-content: flex-end;
  padding-bottom: 67rem;
}
.flight-selection__items {
  display: flex;
  border-radius: 0 30% 30% 30%;
}
.flight-selection__item{
  display: flex;
  column-gap: 19rem;
  border-right: 1.4rem solid  #E6E6E6;
  align-items: center;
  padding: 0 20rem;
  padding-top: 4rem;
  position: relative;
}
.flight-selection__item-weight {
  width: 207rem;
}
.flight-selection__item-size {
  width: 234rem;
  padding: 0 39rem;
}
.flight-selection__item__width {
  width: 314rem;
  padding: 0 38rem;
}
.flight-selection__text-over {
  font-size: 8rem;
  line-height: 16rem;
  position: absolute;
  top: 4rem;
}
.flight-selection__text {
  display: block;
  line-height: 26rem;
}
.scroll-indicator {
  position: relative;
  bottom: 710rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-indicator-line {
  width: 35.2%;
  margin: 0 9rem; 
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.32));
  border: 1rem solid #FFFFFF;
  border-radius: 4rem;
}
.scroll-indicator-arrow {
  display: flex;
  flex-direction: column;
}
.special {
  display: flex;
  column-gap: 50rem;
}
.button__search {
  background: linear-gradient(179.64deg, #00A6DB 19.91%, #0065C1 99.92%);
  box-shadow: 0rem 4rem 14rem rgba(0, 0, 0, 0.25);
  border-radius: 8rem;
  border-color: #FFFFFF;
  width: 48rem;
  height: 48rem;
  padding-top: 5rem;
  border: none;
  border: 1px solid white;
}
.button__search:hover {
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
}
.side__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 24rem;
}
.button__whatsapp{
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
  box-shadow: 0rem 4rem 20rem 5rem rgba(249, 115, 6, 0.943);
  width: 64rem;
  height: 64rem;
  border-radius: 50%;
  border: 1rem solid #FFFFFF;
}
.button__whatsapp img{
  height: 50rem;
  padding-top: 10rem;
}
.work-process__content {
  position: relative;
  top: -60rem;
  background-color: #FFFFFF;
  background-image: url('../images/map.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 642rem; 
  background-position: center;
}
.work-process {
  position: relative;
  top: -838rem;
}
.clouds img{
  width: 100%;
  position: relative;
}
.work-process__text {
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0rem 4rem 4rem rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 40rem;
  line-height: 104.5%;
}
input[type="text"]::placeholder {
  display: flex;
  gap: 40rem;
}
.work-process__title {
  padding-top: 78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
.snake {
  left: 88rem;
  position: relative;
  padding-top: -1rem;
  width: 1210rem;
}
.earth-1 {
  position: absolute;
  left: 359rem;
  top: 277rem;
}
.earth-2 {
  position: absolute;
  left: 585rem;
  top: 284rem;
  width: 62rem;
  height: 61rem;
}
.earth-3 {
  position: absolute;
  right: 545rem;
  top: 293rem;
  width: 50rem;
  height: 50rem;
}
.earth-4 {
  position: absolute;
  right: 225rem;
  top: 211rem;
  width: 62rem;
  height: 61rem;
}
.plane-gray {
  position: absolute;
  right: 107rem;
  top: 208rem;
  width: 30rem;
  height: 25rem;
}
.dot {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: absolute;
}
.dot-1 {
  position: absolute;
  left: 233rem;
  top: 263rem;
}
.dot-2 {
  position: absolute;
  left: 742rem;
  top: 284rem;
}
.dot-3 {
  position: absolute;
  left: 479rem;
  top: 306rem;
}
.dot-4 {
  position: absolute;
  left: 1074rem;
  top: 241rem;
}
.dot-blue {
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
}
.dot-orange {
  background: linear-gradient(206.39deg, #FF7A00 18.43%, #FF7A00 18.44%, #FF7102 85.35%);
}
.inscription-mark {
  position: absolute;
  left: 1166rem;
  top: 277rem;
}
.mark {
  width: 52rem;
  height: 65rem;
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  border-radius: 50%;

}
.mark span{
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 1rem solid #FFFFFF;
  border-radius: 50%;
}

.drop {
  width: 60rem;
  height: 60rem;
  background-color: blue;
  border-radius: 50% 50% 1% 50%;
  position: relative;
  transform: rotate(45deg);

}

.drop:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: scale(0.7);
}

.drop span {
  position: absolute;
  top: 20rem;
  left: 16rem;
  transform: translate(-50%, -50%);
  color:  #0065C1;
  font-size: 20rem;
  font-weight: 700;
  transform: rotate(-45deg);

}
.drop-orange {
  background: linear-gradient(206.39deg, #FF7A00 18.43%, #FF7A00 18.44%, #FF7102 85.35%);
}
.drop-2 {
  top: -25rem;
  left: 6rem;
}
.drop-blue {
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
}
.mark-1 {
  left: 212rem;
  top: 168rem;
}
.mark-2 {
  left: 453rem;
  top: 365rem;
}
.mark-3 {
  left: 721rem;
  top: 184rem;
}
.mark-4 {
  left: 1057rem;
  top: 282rem;
}
.inscription {
  white-space: normal;
}
.inscription-mark {
  color: #525252;
  gap: 24rem;
  display: flex;
  align-items: center;
}

.inscription__title {
  color: #525252;
  font-weight: 700;
  font-size: 25rem;
  line-height: 104.5%;
  flex-shrink: 0;
}
.inscription__text {
  font-weight: 400;
  font-size: 14rem;
  color: #525252;
  max-width: 190rem;
  max-height: 60rem;
  line-height: 104.5%;
  text-align: justify;
  text-indent: 16rem;
  text-transform: capitalize;
  padding-top: 9rem;
}
.form__girl-mobile {
  display: none;
}
.button__search img{
  width: 32rem;
}
.dropdown {
  display: inline-block;
}
.dropdown-content::before {
  content: "";
  display: block;
  width: 80%;
  height: 1rem;
  background-color: #E6E6E6;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.special-size {
  width:187rem;
  padding-left:42rem; 
  border-radius: 0 5% 5% 0;
  border-right: 0;

}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(27.34px);
  border-radius: 0rem 0rem 4.67105rem 4.67105rem;
  text-align: left;
  overflow-y: auto;
  height: auto;
  left: 0;
  bottom: 0;
  transform: translateY(97%);
  border-bottom: 1.4rem solid #E6E6E6;
}
.dropdown-content::before {
  margin-top: 4rem;
}
.dropdown-content-country-size {
  height: 300%;
}
.dropdown-content-traveler {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 1;
  border-bottom: 1.4rem solid #E6E6E6;
  backdrop-filter: blur(27.34px);
  border-radius: 0rem 0rem 4.67105rem 4.67105rem;
  text-align: left;
  bottom:0;
  left:0;
  transform: translateY(95%);
  padding: 6rem 15rem 15rem 42rem;
  width: 100%;
}
.dropdown-content-traveler::before {
  content: "";
  display: block;
  width: 120%;
  height: 1rem;
  background-color: #E6E6E6;
  margin: 1rem auto;
  margin-left: -27rem;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: #7B7B7B;
  font-size: 14rem;
  line-height: 25rem;
  padding-left: 50rem;
}

.dropdown-content a:first-child {
  text-decoration: none;
  padding-top:10rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-traveler {
  display: block;
}

.wrap__traveler {
  padding-bottom: 10rem;
}
.item__traveler {
  display: flex;
  align-items: center;
}

.item__traveler a {
  display: inline-block;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 11rem;
  line-height: 13rem;
  margin: 5rem;
  background: #FFFFFF;
  color: #7B7B7B;
  text-decoration: none;
  border: 1px solid #0065C1;
  filter: none;

}
.item__traveler a.active {
  background: linear-gradient(206.39deg, #FF7A00 18.43%, #FF7A00 18.44%, #FF7102 85.35%);
  color: #FFFFFF;
}
.title__traveler {
  display: flex;
  gap: 15rem;
}
.copyright-mobile {
  display: none;
}
.footer__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 113.5%;
}
.strip-footer {
  width: 84rem;
}
.footer__nav_bottom {
  display: flex;
  gap: 25rem;
  align-items: center
}
.form__triangle {
  position: absolute;
  bottom: 39rem;
  left: 50%;
  transform: translate(-50%);
}