.background{
  max-width: 1064rem;
  height: 96rem;
  padding: 24rem;

  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 7rem;
  margin: 0 auto;
  margin-top: 131rem;
  display: flex;
  column-gap: 24px;
  border: 1px solid #FFFFFF ;
}
.margin {
  margin: 131rem 0rem 0rem 0rem;
}

.flight-selection__wrapper {
  display: flex;
  background: #FFFFFF;
  border: 1.4px solid #E6E6E6;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);
  border-radius: 8px;
  color:#7B7B7B;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14rem;
  line-height: 26rem;
}
.flight-selection {
  position: relative;
}
.flight-selection__container{
  flex-grow: 1;
}
.flight-selection__wrapper > :not(:nth-child(4)) {
  padding-right: 100rem;
}
.flight-selection__wrapper > :nth-child(4) {
  padding-right: 50rem;
}
.flight-selection-all_wrapper{
  justify-content: center;
  display: flex;
  gap: 48rem;
  justify-content: flex-end;
}
.flight-selection__item{
  display: flex;
  column-gap: 17rem;
  border-right: 1.4rem solid  #E6E6E6;
  align-items: center;
  padding: 0 20rem;
}
.flight-selection__text-over {
  font-size: 8rem;
  line-height: 16rem;
}
.flight-selection__text {
  display: block;
  line-height: 26rem;
}
.special {
  display: flex;
  column-gap: 50rem;
}
.button__search {
  background: linear-gradient(179.64deg, #00A6DB 19.91%, #0065C1 99.92%);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-color: #FFFFFF;
  width: 48rem;
  height: 48rem;
  padding-top: 5rem;
}
.side__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 24rem;
}
.button__whatsapp{
  background: linear-gradient(148.22deg, #FF7A00 27.03%, #FF7A00 27.03%, #D65A00 93.23%);
  box-shadow: 0px 4rem 20rem 5rem rgba(249, 115, 6, 0.943);
  width: 64rem;
  height: 64rem;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
.button__whatsapp img{
  height: 50rem;
  padding-top: 10rem;
}
.work-process__content {
  background-color: #FFFFFF;
  background-image: url('../images/map.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 727rem; 
}
.work-process {
  position: relative;
  top: -133rem;
  top: -212rem;
}
.clouds img{
  width: 100%;
  position: relative;
}
.work-process__text {
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(253.26deg, #00A6DB 13.62%, #0065C1 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 40px;
  line-height: 104.5%;
}
.work-process__title {
  padding-top: 78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
.snake {
  left: -88rem;
  position: relative;
  padding-top: 63rem;
  width: 1428rem;
}
.earth-1 {
  position: absolute;
  left: 22%;
  top: 50%;
}
.earth-2 {
  position: absolute;
  left: 43%;
  top: 50%;
  width: 62rem;
  height: 62rem;
}
.earth-3 {
  position: absolute;
  left: 65%;
  top: 53%;
  width: 50rem;
  height: 50rem;
}
.earth-4 {
  position: absolute;
  left: 88%;
  top: 40%;
  width: 62rem;
  height: 62rem;
}
.plane-gray {
  position: absolute;
  left: 100%;
  top: 40%;
  width: 25rem;
  height: 25rem;
}


