@media (max-width: 991px) {
  html {
    font-size: 1px;
  }
  body {
    width: 370rem;
    line-height: 1;
  }
  .scroll-indicator {
    display: none;
  }
  .header-slider {
    overflow: visible;
  }
  .header-slider__title {
    background: linear-gradient(180deg, rgba(255, 255, 255, 50.88) 90.88%, rgba(255, 255, 255, 0) 97.91%);
    -webkit-background-clip: text;
  }
  .header-slider__title-canada {
    font-weight: 600;
    font-size: 44.8204rem;
    line-height: 82%;
    padding-top: 72rem;
  }
  .side__button-call {
    width: 35rem;
    height: 35rem;   
  }
  .slick-list {
    overflow: visible;
  }  
  .container {
    padding: 54rem 1.0625rem;
    width: 100%;
    width: 100%;
  }
  .burger-menu {
    width: 307rem;
    max-width: 706rem;
    background: rgba(94, 94, 94, 0.2);
    box-shadow: 0px 2.66917px 12.0113px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(27.34px);
    border-radius: 4.67105px;
    z-index: 10;
    position: fixed;
    top: 11rem;
    display: none;
    padding: 25rem 19rem 10rem 28rem;
    border: 1px solid;
    border-left: none;
  }
  .burger-menu__triangle {
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 6rem solid white;
  }
  .dropdown-content-traveler::before {
    margin-left: 0;
    width: 100%;
  }
  .burger-menu__button {
    width: 30.19rem;
    height: 22.5rem;
    left: 31rem;
    top: 31rem;
    background: transparent;
    position: absolute;
    z-index: 11;
  }
  .burger-menu__button span {
    display: block;
    width: 100%;
    height: 2rem;
    background: #FFFFFF;
    margin-bottom: 10rem;
  }
  .burger-menu__button .stick-shortest {
    width: 70%;
  }
  .burger-menu__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    padding-top: 24rem;
    width: 65rem;
  }
  .burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 19rem;
  }
  .open {
    display: block;
  }
  .burger-menu__close {
    width: 32rem;
    height: 32rem;
    position: absolute;
    top: 46rem;
    right: 11rem;
    cursor: pointer;
    display: none;
  }
  .burger-menu__close span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;
    background: #FFFFFF;
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .burger-menu__close span:first-child {
    transform: rotate(45deg);
  }
  .burger-menu__close span:last-child {
    transform: rotate(-45deg);
  }
  .burger-menu__item {
    /* Стилі для окремого пункту меню */
    font-weight: 600;
    font-size: 18rem;
    line-height: 22rem;
    color: #FFFFFF;
  }
  .burger-menu__link {
    font-weight: 600;
    font-size: 18rem;
    line-height: 22rem;
  }
  .burger-menu__header {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 19rem;
  }
  .burger-menu__header__list{
    display: flex;
    align-items: center;
    gap: 16rem;
    font-weight: 600;
    font-size: 16rem;
    line-height: 19rem;
  }
  .burger-menu__header__list img{
    width: 68rem;
    height: 43.19rem;
  }
  .burger-menu__header__item {
    display: flex;
    gap: 10rem;
  }
  .burger-menu__bottom {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
  .burger-menu__bottom ul{
    gap: 5rem;
  }
  .burger-menu__bottom span{
    font-weight: 600;
    font-size: 16rem;
    line-height: 113.5%;
    flex-shrink: 0;
  }
  .burger-menu__header__item img{
    width: 24rem;
    height: 24rem;
  }
  .display {
    display: block;
  }
  .header__nav_sticky-bottom {
    gap: 5rem;
    flex-grow: 0;
  }
  .header__nav_sticky-bottom :first-child{
    flex-shrink: 0;
  }
  .strip {
    height: 1rem;
  }
  .strip-long {
    width: 100%;
    height: 2rem;
  }
  .dropdown-content-traveler::before {
    margin-bottom: 10rem;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 30rem;
    left: 0;
    padding: 10rem;
  }
  .dropdown-content::before {
    margin-top: 4rem;
  }

  .dropdown-content  {
    transform: translateY(97%);
  }
  .dropdown-content-traveler {
    padding: 2rem 9rem 5rem 15rem;
  }
  .dropdown-content a:first-child {
    padding-top: 0rem;
  }
  .dropdown-content a {
    font-size: 100%;
    padding-left: 43rem;
  }
  .title__traveler {
    gap: 5rem;
  }
  .title__traveler img{
    width: 19rem;
    height: 10rem;
  }
  .nav__item:hover .dropdown-menu {
    display: block;
  }
  .nav__item:hover ~ .burger-menu__item {
    margin-top: 20rem;
  }
  .burger-menu__item {
    position: relative;
  }
  .burger-menu__dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: disc;
    position: absolute;
    position: relative;
    top: 10rem;
    left: 31rem;
    gap: 8rem;

  }
  .burger-menu__item:hover .burger-menu__dropdown-menu {
    display: flex;
  }
  .burger-menu__item:hover .burger-menu__item:not(:first-child) {
    top: 126rem;
    padding-bottom: 5rem;
  }
  .burger-menu__dropdown-menu li{
    font-style: normal;
    font-weight: 600;
    font-size: 18rem;
  }
  .phone {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    left: -3rem;
  }
  .tel {
    font-size: 16rem;
    flex-shrink: 0;
  }
  .location {
    align-items: center;
  }
  .footer__nav_bottom {
    align-items: center;
    display: flex;
    gap: 20rem;
  }
  .footer__text {
    font-weight: 600;
    font-size: 16rem;
    line-height: 113.5%;
  }
  .location__item  img{
    width: 18rem;
  }
  .location-img {
    width: 265rem;
    height: 184rem;
  }
  .center {
    text-align: center;
  }
  .email {
    display: flex;
    align-items: center;
    font-size: 16rem;
    flex-shrink: 0;
    gap: 8rem;
    padding-bottom: 10rem;
  }
  .burger-menu__point {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(206.39deg, #FF7A00 18.43%, #FF7A00 18.44%, #FF7102 85.35%);
    box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.32);
    border-radius: 1.6px;
    flex-shrink: 0;
  }
  .mobile__logo {
    display: block;
    width: 102.35rem;
    height: 65rem;
  }
  .clouds {
    display: none;
  }
  .clouds-mobile {
    width: 100%;
    top: 200rem;
    position: relative;
    background-color: white;
    top: -955rem;
  }
  .clouds-mobile img{
    background-image: url('../images/cloud-mobile-litle.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 100%;
    top: -75rem;
    position: relative;
    background-position: 190rem 34rem;
  }

  .background {
    width: 278rem;
    height: 143rem;
    flex-direction: column;
    gap: 16rem;
    padding: 16rem;
    align-items: center;
  }
  .flight-selection__wrapper {
    flex-wrap: wrap;
    width: 246rem;
    height: 63rem;
  }
  .flight-selection__item {
    width: 121.9rem;
    border: 1rem solid #E6E6E6;;
    column-gap: 11rem;
    font-weight: 400;
    font-size: 9.34211rem;
    line-height: 17rem;
    padding-top: 7.3rem;
    padding: 0rem 16rem;
    align-items: end;
  }
  .wrap__traveler {
    padding-bottom: 0rem;
  }
  .flight-selection__item__icon {
    padding-bottom: 2rem;
  }
  .flight-selection__text-over {
    font-size: 9.34211rem;
    font-weight: 400;
    font-size: 5.33835rem;
    line-height:12rem;
  }
  .flight-selection__text {
    font-weight: 400;
    font-size: 9.34211rem;
    line-height: 17rem;
  }
  .flight-selection__item__text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .flight-selection__item__icon img{
    width: 11.01rem;
    height: 10.68rem;
  }
  .flight-selection__item__width {
    width: 154rem;
    border-radius: 0 0 0 9%;
    padding: 0 18rem;
  }
  .special-size {
    padding-left: 19rem;
    border-radius: 0 0 15% 0;
    width: 91rem;
  }
  .special {
    gap: 20rem;
  }

  .flight-selection__wrapper .mobile_padding {
    padding-right: 135rem;
  }
  .flight-selection__wrapper > :nth-child(4) {
    padding-right: 28rem;
  }
  .item__traveler a {
    font-size: 6rem;
    line-height: 8rem;
    height: auto;
    margin: 2rem;
    filter: none;

  }

  .button__search {
    width: 114rem;
    height: 32rem;
  }
  .button__search{
    display: none;
    padding: 0;
  }
  .display {
    display: block;
  }
  .button {
    padding-top: 31rem;
  }
  .side__buttons {
    position: fixed;
    right: 17rem;
    top:418rem;
    z-index: 9999;
    gap: 17rem;
  }
  .side__button-search {
    width: 32rem;
    height: 32rem;
  }
  .side__button-search img{
    width: 20rem;
    height: 20rem;
  }
  .button__search-mobile {
    display: flex;
    color: #FFFFFF;
    font-size: 12rem;
    line-height: 113.5%;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .button__search-mobile img{
    width: 13.35rem;
    height: 13.35rem
  }
  .side__button-call-size {
    transform: translateX(-120%);
    width: 25rem;
    padding-top: 0;
    top: 5rem;
  }
  .header-slider__title {
    font-weight: 600;
    font-size: 44.8204rem;
    line-height: 82%;
    padding-top:72rem;
  }
  .header-slider__subtitle {
    font-weight: 600;
    font-size: 14rem;
    line-height: 99%;
    padding-top: 21rem;
  }
  .button-orange {
    width: 114rem;
    height: 32rem;
    font-size: 12rem;
    margin-bottom: 94rem;
  }
  .slick-list {
    overflow: hidden;
    width: 100%;
  }
  .container-mobile {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-banner .slick-arrow {
    width: 32rem;
    height: 32rem;
    top: 213rem;
  }
  .slider-banner .slick-next{
    background-size: 12rem;
    right: 10rem;

  }
  .slider-banner .slick-prev{
    background-size: 12rem;
    left: 10rem;
  }
  .popular-hotels__title {
    font-weight: 600;
    font-size: 24rem;
    line-height: 104.5%;
  }
  .strip-longer {
    width: 122.96rem;
  }
  .strip-shorter  {
    width: 82.78rem;
  }
  .flight-selection-all_wrapper {
    padding-top: 94rem;
  }
  .flight-selection {
    left: 44rem;
    top: 374rem;
  }
  .carrousel__slider__item{
    width: 143.25rem;
    height: 201rem;
  }
  .carrousel__item {
    width: 143.25rem;
    height: 201rem;
  }
  .carrousel .slick-track {
    gap:22.65rem;
  }
  .carrousel .slick-arrow.slick-prev {
    width: 32rem;
    height: 32rem;
    background-position: center;
    background-size: 15rem;
    left: -20rem;
    top: 86rem;
    position: absolute;
  }
  .carrousel .slick-arrow.slick-prev:hover {
    background-color: rgba(94, 94, 94, 0.2);
  }
  .carrousel .slick-arrow.slick-next {
    position: absolute;
    width: 32rem;
    height: 32rem;
    background-position: center;
    background-size: 15rem; 
    right: -14rem;
    top: 86rem;
  }
  .carrousel .slick-arrow.slick-next:hover {
    background-color: rgba(94, 94, 94, 0.2);
  }
  .carrousel__content {
    padding: 15rem 20rem;
  }
  .carrousel__content__top  {
    padding: 1rem 9rem;
  }
  .carrousel__content__top span {
    font-size: 8rem;
    line-height: 2;
  }
  .carrousel__wrapper {
    width: 310rem;
    position: absolute;
    left: -16rem;
    top: 83rem;
  }
  .snake {
    display: none;
  }
  .work-process__title {
    position: relative;
    padding-top: 0;
    top: -74rem;
  }
  .work-process__text {
    font-size: 24rem;
  }

  .work-process__content {
    background-color: #FFFFFF;
    background-image: url(../images/map.svg),url(../images/snake-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 300%, 202rem;
    height: 500rem;
    background-position: -555rem 68rem, center;
    height: 866rem;

  }
  .popular-hotels {
    padding-top: 94rem;
    bottom: 826rem;
  }
  .popular-hotels__container {
    bottom: 0;
    top: 189rem;
  }
  .work-process {
    top: -1000rem;
  }
  .popular-hotels__text {
    padding-top: 10rem;
    row-gap: 6rem;
  }
  .earth {
    width: 62rem;
    height: 62rem;
  }
  .earth-1 {
    top: 13rem;
    left: 291rem;
  }
  .earth-2 {
    top: 623rem;
    left: 52rem;
  }
  .earth-3 {
    top: 416rem;
    right: 5rem;
  }
  .earth-4 {
    top: 215rem;
    left: 48rem;
  }
  .plane-gray {
    transform: rotate(120deg);
    top: 863rem;
    height: 50rem;
    width: 50rem;
    right: 168rem;

  }
  .dot-1 {
    position: absolute;
    left: 84rem;
    top: 103rem;
  }
  .dot-3 {
    position: absolute;
    left: 268rem;
    top: 309rem;
  }
  .dot-2 {
    position: absolute;
    left: 100rem;
    top: 474rem;
  }
  .dot-4 {
    position: absolute;
    left: 262rem;
    top: 712rem;
  }

  .inscription__title {
    font-size: 16rem;
  }
  .inscription__text {
    font-size: 12rem;
  }
  .inscription-mark {
    /* width: 300rem; */
    flex-direction: column;
  }
  .inscription {
    width: 163rem;
  }
  .mark-1 {
    left: 12rem;
    top: 15rem;
  }
  .mark-1 .inscription{
    position: relative;
    left: 147rem;
  }
  .mark-2 {
    left: 188rem;
    top: 235rem;
  }
  .mark-2 .inscription{
    position: relative;
    right: 135rem;
    top: -26rem;
  }
  .mark-3 {
    left: 26rem;
    top: 389rem;
  }
  .mark-3 .inscription{
    position: relative;
    left: 127rem;
    top: 20rem;
  }
  .mark-4 {
    left: 190rem;
    top: 613rem;
  }
  .mark-4 .inscription{
    position: relative;
    left: -140rem;
  }
  .form__gradient-left {
    transform: rotate(90deg);
    top: -45rem;
    height: 370rem;
  }
  .form__gradient .form__gradient-right {
    top: 72rem;
    height: 1177rem;
    background: linear-gradient(359deg, #FF7A01 7.96%, rgba(255, 154, 29, 0) 110.92%);
    z-index: 0;
    width: 368rem;
  }
  .form {
    height: 1190rem;
    flex-direction: column;
    top: -956rem;
  }
  .form__background {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1250rem;
    background-color: rgba(254, 182, 83, 1);
    background-image: url('../images/map-form.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center 233rem;
    overflow: hidden;
  }
  .form__girl {
    display: none;
  }
  .form__girl-mobile {
    display: block;
  }
  .form__girl-mobile img{
    width: 100%;
    position: relative;
    top: 144rem;
    width: 354rem;

  }
  .airplane {
    transform: rotateY(180deg);
    left: -125rem;
    top: -1394rem;
    position: relative;
    width: 495rem;
  }
  .form__inscription {
    font-size: 66.4803rem;
    left: 25rem;
    width: 10rem;
    top: 17rem;
  }
  .cloud-1 {
    left: 195rem;
    top: 40rem;
    z-index: 20;
  }
  .cloud-2 {
    left: -184rem;
    top: 330rem;
    z-index: 20;
  }
  .cloud-3 {
    left: 192rem;
    top: 480rem;
    z-index: 20;
    transform: rotate(360deg);
  }
  .form-container {
    width: 278rem;
    height: 349rem;
    top: 899rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16rem;
  }
  .form-container input[type="text"], .form-container input[type="email"], .form-container input[type="tel"], .form-container textarea {
    width: 100%;
    padding: 8rem;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(8rem);
    border-radius: 8rem;
    margin-bottom: 5rem;
    border: 2rem solid rgb(147, 176, 228, 0.3);
    font-size: 9.35849rem;
  }
  .form-container button {
    margin-left: 74rem;
    margin-top: 8rem;
  }
  .form-container textarea {
    height: 64rem;
  }
  .form-container label {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    color: #525252;
    font-weight: 500;
    font-size: 10.6954rem;
  }
  .form-container h2{
    font-size: 16rem;
  }

  .form-inner button {
    width: 106.12rem;
    height: 32.09rem;
    font-size: 12.0323rem;
  }
  .form-container form {
    margin: 0;
  }
  .footer  {
    flex-direction: column;
    gap: 32rem;
    top: -1011rem;
  }
  .social__footer {
    gap: 15rem;
  }
  .strip-footer {
    width: 84rem;
  }
  .copyright {
    top: -1013rem;
    padding: 20rem;
  }
  .copyright-desktop {
    display: none;
  }
  .copyright-mobile{
    display: block;
  }
  .footer__logo logo {
    align-items: center;
  }
  .block__flex {
    align-items: center;
  }
  .form__triangle {
    display: none;
  }
  .carrousel__content__bottom-over {
    display: flex;
    align-items: center;
  }
  .carrousel__content__bottom {
    padding-left: 10rem;
    padding-top: 8rem;
  }
  .star {
    width: 11.41rem;
    height: 11.41rem;
  }
  .airplane-decktop {
    display: none;
  }
  .airplane {
    display: block;
  }
  .hotel-info {
    font-size: 8rem;
  }
  .carrousel__content__all {
    padding-bottom: 74rem;
  }
  .carrousel__content__bottom p{
    font-weight: 700;
    font-size: 12.19rem;
    width: 103rem;
    height: 0;
    word-wrap: break-word;
  }
  .carrousel__content__bottom span{
    font-size: 12.19rem;
  }
  .strip__length {
    width: 100rem;
    height: 1rem;
  }
  .flight-selection-all_wrapper {
    padding: 0rem;
  }
  .carrousel__item:hover .carrousel__content__all {
    height: 65%;
  }
  .hotel-info {
    gap: 5rem;
    padding: 33rem 0rem 5rem 9rem;
  }
  .hotel-info__content {
    align-items: center;
  }
  .cost {
    padding-left: 8rem;
    padding-top: 5rem;
  }
  .currency{
    font-size: 12rem;
  }
  .price {
    font-size: 16rem;
  }
  .hotel-info__icon {
    width: 10rem;
    height: 10rem;
  }
  .slide-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 10%), url('../images/slider-banner/mobile-turkey.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1128rem;
    background-position:top;
  }
  .header {
    display: none !important;
  }
  .header-fixed {
    display: none !important;
  }
  .pulse-size {
    width: 32rem;
    height: 32rem;
  }
}