@import url('reset.css');
@import url('./header.css');
@import url('./banner-slider.css');
@import url('./main.css');
@import url('./carrousel.css');
@import url('./form.css');
@import url('./footer.css');
@import url('./media.css');

@media (min-width: 991.99px){
  html {
    font-size: 1px
  }
  .burger-menu {
    display: none;
  }
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1px;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container{
  /* width: 1440rem; */
  width: 100%;
  margin: 0rem auto;
  padding: 0px 82rem;
  padding-top: 28.5rem;
}

.wrapper {
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.side__buttons {
  position: fixed;
  top: calc(50% + 253.625rem);
  right: 5%;
  z-index: 9999;
}


